:root{
    --naranja: #f90;
    --amarillo: rgb(182, 182, 9);
    --gris-oscuro: #27262b;
    --gris-claro: #ccc;
    --blanco: #fff;
    --negro: #000;




}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--gris-oscuro);
    background-image: url(images/pattern.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
.cabecera, .contenido {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.cabecera {
display: flex;
justify-content: space-between;
align-items: center;
}
.cabecera-title{
    color: var(--naranja);
    font-size: 24px;
}
.contenido {
background-color: var(--blanco);
}

.nav-lista {
    background-color: var(--naranja);
    list-style: none;
    display: flex;
    align-items: center;
    padding: 12px;
    padding-left: 40px;
    margin-bottom: 32px;
    
} 

.nav-form {
    flex-grow: 1;
    text-align: right;

}
.nav-link {
    display: block;
    color: var(--blanco);
    font-weight: bold;
    text-decoration: none;
    padding: 8px 12px;
    border-right: 1px solid var(--amarillo) ;
    
}

.nav-link:hover {
    
    text-decoration: underline;
    
}

.imagen {
    text-align: center;
    margin-bottom: 32px;
}

.productos {
    background-color: aquamarine;
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 20px;
}
.izquierda {
    background-color: beige;
}
.derecha {
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}
.producto {
    background-color: chocolate;
}
.producto-title {
    margin-bottom: 12px;
    font-size: 20px;

}
.producto-contenedor {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
}
.producto-contenedor p {
    margin-top: 8px;
    font-size: 12px;
}